* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    min-height: 100vh;
    width: 100%;
    background-color: #1F2039;
    font-family: 'Manrope', 'sans-serif';
    color: white;

}



a {
    color: black;
    font-size: 1em;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', 'sans-serif';
}

p {
    font-size: 1.1em;
}

em {
    color: #A5B4FC;
}

p,
li {
    color: #f9f8ff;
}

h2,
ul {
    margin-top: 20px;
}

nav,
footer {
    background-color: white;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* nav, a {
    margin-left: 30px;
} */

nav,
footer a {
    color: #242424;
}

.cta {
    background: linear-gradient(#8e86b5, #acaeed);
    font-family: 'Montserrat', 'sans-serif';
    font-size: 17px;
    font-weight: 400;
    color: white;
    border-radius: 50px;
    padding: 10px;
}

.cta:hover {
    background: linear-gradient(#696484, #8788ba);
    text-decoration: none;
}

.lien-icone:hover {
    opacity: 0.5;
}

.competences {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
}

section {
    padding: 80px;
}

.a-propos {
    text-align: center;
}

.accueil-intro {
    display: flex;
    width: 50%;
    margin: auto;
}

.accueil-intro h1,
p {
    margin-bottom: 50px;
    margin-right: 70px;
}